:root {
    --primary: #0b818e;
    --bg: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: var(--bg);
    background-color: bisque;
}

.header {
    background: var(--primary);
    color: rgb(232, 0, 236);
    padding: 20px;
    text-align: center;
}

.header nav a {
    color: rgb(161, 218, 47);
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.skills {
    display: flex;
    gap: 10px;
    list-style: none;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgb(232, 190, 18);
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(8, 94, 107, 0.1);
    transition: transform 0.3s;
    align-items: center;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 8px;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}
