* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  padding-top: 140px;
  background-color: #333;
}

/* ================= HEADER ================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;

  background: #a72c2c;
  color: #11ff00b7;

  display: flex;
  align-items: center;

  z-index: 1000;
  justify-content: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  position: relative;
}

.header-text h1 {
  font-size: 1.9rem;
}

.header-text p {
  font-size: 0.9rem;
}

/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: 120px; /* below header */
  left: 0;
  width: 100%;
  height: 60px;

  background: #0a369a;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.navbar a {
  color: #060007;
  margin: 0 1rem;
  text-decoration: none;
  
}

.navbar a:hover {
  color: #000;
  background: radial-gradient(circle, #701a6c, transparent);
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: 0.3s;
}

/* ================= CONTENT ================= */
.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  position: relative;
  top: 30px;
}

section {
  margin: 2rem 0;
  scroll-margin-top: 190px;
}

h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

.project {
  background: #0b0b0b;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* ================= FOOTER ================= */
footer {
  background: #590655;
  color: #6d072e;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
